#pragma once

#include <Engine/Runtime/Scene/BaseSceneFactory.h>

enum SceneList__Template__ {
};

class Factory__Template__ final : public szg::BaseSceneFactory {
public:
	[[deprecated]] std::unique_ptr<szg::BaseScene> initialize_scene();
	[[deprecated]] std::unique_ptr<szg::BaseScene> create_scene(i32 next);

public:
	std::unique_ptr<szg::Scene> initialize_scene2() override;
	std::unique_ptr<szg::Scene> create_scene2(i32 next) override;
};
