#include <windows.h>

#include <memory>

#include "{:1}.h"

int WINAPI WinMain(HINSTANCE, HINSTANCE, LPSTR, int) {
	std::unique_ptr<Framework> framework =
		std::make_unique<{:1}>();

	framework->run();

	framework.reset();

	return 0;
}
