#include <windows.h>

#include <memory>

#include "__Template__/__Template__.h"

int WINAPI WinMain(HINSTANCE, HINSTANCE, LPSTR, int) {
	std::unique_ptr<Framework> framework =
		std::make_unique<__Template__>();

	framework->run();

	framework.reset();

	return 0;
}
