#include "__Template__.h"

#include <Engine/Runtime/Scene/SceneManager2.h>

#include "./Scene/Factory__Template__.h"

void __Template__::initialize() {
	SceneManager2::Setup(std::make_unique<Factory__Template__>());
}
