name: DebugBuild

env:
  CONFIGURATION: Debug
  SOLUTION_FILE_PATH: BuildTest/project/SyzygyEngine.sln
  SOLUTION_NAME: BuildTest
  BATCH_FILE_URL1: https://raw.githubusercontent.com/TaiseiHamaya/SyzygyEngine/refs/heads/
  BATCH_FILE_URL2: /ProjectGeneratorTool/CreateSolution.ps1
  
on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Download CreateSolution.ps1
        run: |
          curl -o CreateSolution.ps1 ${{ env.BATCH_FILE_URL1 }}${{ github.head_ref }}${{ env.BATCH_FILE_URL2 }}

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64

      - name: Generate Solution File
        run: .\CreateSolution.ps1 ${{ env.SOLUTION_NAME }} ${{ github.head_ref }}

      - name: Build
        run: msbuild ${{env.SOLUTION_FILE_PATH}} /p:Platform=x64,Configuration=${{env.CONFIGURATION}}

  notification:
    needs: build
    if: ${{ always() }}
    runs-on: ubuntu-22.04
    steps:
      - name: Discord Notification
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          title: Build Result(${{ needs.build.result }})
          username: GitHub
          avatar_url: https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png
          status: ${{ needs.build.result }}